/* imports */
/* variables */
/* colores */
/* MIX IN */
/* letra header */
/* letra grinder */
/* m=0 p=0 */
/* centrado */
/* DESKTOP */
/* INDEX */
/* navbar */
/* HEADER*/
.navbar {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

.collapse {
  height: 112px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
}

.collapse li {
  padding: 17px 42px 17px 42px;
}

.collapse li a:hover {
  color: #59CD90;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nosotros */
#nosotros {
  color: #59CD90;
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "info foto";
}

.nosotrosInfo {
  margin: 4rem 3rem 4rem 7rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
}

.nosotrosInfo h3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.03rem;
  padding: 10px;
  margin: 0px;
}

.nosotrosInfo h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 32px;
  padding: 10px;
  margin: 0px;
}

.nosotrosInfo p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.nosotrosFoto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto;
  display: block;
  margin: auto;
}

.nosotrosFoto img {
  width: 30rem;
  height: auto;
}

/* footer */
.footer {
  background-color: #000000;
  height: 481px;
}

.footerGrinder {
  padding: 40px 0px 20px 0px;
  text-align: center;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.03rem;
  margin: 0px;
}

.footerImg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
}

.footerImg ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px 40px 40px;
  text-align: center;
}

.footerImg ul li p {
  margin: 5px;
}

.footerImg ul li img {
  padding: 5px;
  display: block;
  margin: auto;
  height: 80px;
  width: 80px;
}

.footerTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 25px;
}

.footerInfo h6 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.footerInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.footerInfo div img {
  width: 40px;
  height: 40px;
}

.footerInfo p {
  margin: 10px 0px 10px 3px;
  font-size: 16px;
  line-height: 20px;
}

.footerContacto h6 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.footerContacto div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.footerContacto div img {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}

.footerContacto p {
  text-align: center;
  margin: 0px;
  padding: 15px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
}

#imgIg {
  margin-left: 0px;
}

/* @import "tablet";
@import "mobile"; */
/* generales */
#inicio {
  background-color: #080808;
}
/*# sourceMappingURL=estilo.css.map */