/* imports */
/* variables */
/* colores */
/* MIX IN */
/* letra header */
/* letra grinder */
/* m=0 p=0 */
/* centrado */
/* DESKTOP */
/* INDEX */
/* HEADER */
/* navbar */
.navbar {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
}

.collapse {
  height: 112px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
}

.collapse li {
  padding: 17px 42px 17px 42px;
}

.collapse li a:hover {
  color: #59CD90;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* main */
.mainIndex {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
}

.mainIndex h1 {
  padding: 8rem 0rem 1rem 0rem;
  margin: 0px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 96px;
  text-align: center;
}

.mainIndex h3 {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  display: block;
  margin: auto;
  font-size: 32px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.1rem;
}

.mainIndex button {
  display: block;
  margin: auto;
  background-color: #2A8052;
  border-radius: 10px;
  margin-top: 6rem;
  border: none;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
}

.mainIndex button img {
  width: 23px;
  height: 23px;
  margin: 6px 6px 14px 6px;
}

.mainIndex button a {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.mainIndex button:hover {
  background-color: #59CD90;
  letter-spacing: 0.03rem;
}

.mainIndex div {
  padding: 3rem 18rem 0rem 0rem;
}

.mainIndex div div {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainIndex div div a:hover {
  /* background-color: $hover; */
  -webkit-animation: shake 0.5s infinite;
          animation: shake 0.5s infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.mainIndex div div img {
  margin: 0.5rem;
  width: 52px;
  height: 52px;
}

/* section */
/* section carousel */
.carousel-control-prev-icon {
  background: none;
}

.carousel-control-next-icon {
  background: none;
}

.mainContainer {
  margin: 5rem 0rem 5rem 0rem;
}

.mainContainer img {
  width: 100%;
  height: 100%;
}

.sectionIndex__picadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.sectionIndex__picadores .indexPicadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__picadores .indexPicadores img {
  height: 56px;
  width: 56px;
  margin: 10px;
}

.sectionIndex__picadores .indexPicadores h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0px 50px 0px;
  letter-spacing: 0.3rem;
}

.sectionIndex__picadores .indexPicadores__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__picadores .indexPicadores__cards div {
  border: 3px solid #2A8052;
  border-radius: 20px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionIndex__picadores .indexPicadores__cards img {
  width: 350px;
  height: auto;
  display: block;
  margin: auto;
  margin: 5rem 1rem 1rem 1rem;
}

.sectionIndex__picadores .indexPicadores__cards p {
  border: 1px solid #2A8052;
  border-radius: 20px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  padding: 2rem 0rem 2rem 0rem;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.sectionIndex__accesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.sectionIndex__accesorios .indexAccesorios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__accesorios .indexAccesorios img {
  height: 56px;
  width: 56px;
  margin: 10px;
}

.sectionIndex__accesorios .indexAccesorios h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0px 50px 0px;
  letter-spacing: 0.3rem;
}

.sectionIndex__accesorios .indexAccesorios__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__accesorios .indexAccesorios__cards div {
  border: 3px solid #2A8052;
  border-radius: 20px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionIndex__accesorios .indexAccesorios__cards img {
  width: 350px;
  height: auto;
  display: block;
  margin: auto;
  margin: 5rem 1rem 1rem 1rem;
}

.sectionIndex__accesorios .indexAccesorios__cards p {
  border: 1px solid #2A8052;
  border-radius: 20px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  padding: 2rem 0rem 2rem 0rem;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.sectionIndex__efecto div {
  height: 550px;
  width: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280px 280px, 570px 570px;
  display: block;
  margin: auto;
  -webkit-animation: efecto 20s infinite;
          animation: efecto 20s infinite;
}

@-webkit-keyframes efecto {
  25% {
    background-image: url("../img/chala.webp"), url("../img/frame2.png");
  }
  50% {
    background-image: url("../img/chala.webp"), url("../img/frame3.png");
  }
  75% {
    background-image: url("../img/chala.webp"), url("../img/frame4.png");
  }
}

@keyframes efecto {
  25% {
    background-image: url("../img/chala.webp"), url("../img/frame2.png");
  }
  50% {
    background-image: url("../img/chala.webp"), url("../img/frame3.png");
  }
  75% {
    background-image: url("../img/chala.webp"), url("../img/frame4.png");
  }
}

.sectionIndex__combos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0rem 3rem 0rem;
}

.sectionIndex__combos .indexCombos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__combos .indexCombos img {
  height: 56px;
  width: 56px;
  margin: 10px;
}

.sectionIndex__combos .indexCombos h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0px 50px 0px;
  letter-spacing: 0.3rem;
}

.carousel-control-prev-icon {
  background: none;
}

.carousel-control-next-icon {
  background: none;
}

.mainContainer {
  margin: 5rem 0rem 5rem 0rem;
}

.indexCombos__promo {
  margin: 2rem 0rem 0rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "foto texto";
}

.indexCombos__promo .comboPromo {
  display: block;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto;
}

.indexCombos__promo .comboPromo img {
  width: 672px;
  height: auto;
}

.indexCombos__promo .promo__texto {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: texto;
  display: block;
  margin: auto;
  padding: 0rem 3rem 0rem 0rem;
}

.indexCombos__promo .promo__texto button {
  display: block;
  margin: auto;
  background-color: #2A8052;
  border-radius: 10px;
  margin-top: 3rem;
  border: none;
  padding: 8px 8px 4px 8px;
  cursor: pointer;
}

.indexCombos__promo .promo__texto button img {
  width: 23px;
  height: 23px;
  margin: 6px 6px 14px 6px;
}

.indexCombos__promo .promo__texto button a {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.indexCombos__promo .promo__texto button:hover {
  background-color: #59CD90;
  letter-spacing: 0.03rem;
}

.sectionIndex__marcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8rem 0rem 3rem 0rem;
}

.sectionIndex__marcas .indexMarcas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__marcas .indexMarcas img {
  height: 56px;
  width: 56px;
  margin: 10px;
}

.sectionIndex__marcas .indexMarcas h4 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 600;
  margin: 10px 0px 50px 0px;
  letter-spacing: 0.3rem;
}

.sectionIndex__marcas .indexMarcas__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionIndex__marcas .indexMarcas__cards div {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionIndex__marcas .indexMarcas__cards img {
  width: 150px;
  height: auto;
  display: block;
  margin: auto;
  margin: 1rem;
}

.sectionIndex__compra {
  margin: 2rem 0rem 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionIndex__compra div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sectionIndex__compra div img {
  display: block;
  margin: auto;
}

.sectionIndex__compra div .icons_image1 {
  width: 52.5px;
  height: 42px;
}

.sectionIndex__compra div .icons_image2 {
  width: 46px;
  height: 32px;
}

.sectionIndex__compra div .icons_image3 {
  width: 28px;
  height: 37px;
}

.sectionIndex__compra div .icons_image4 {
  margin-top: 50px;
  width: 17.7px;
  height: 17.7px;
}

.sectionIndex__compra div h4 {
  margin: 2rem 1rem 2rem 1rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
}

/* NOSOTROS */
#nosotros {
  color: #59CD90;
  text-decoration: overline;
}

.nosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "info foto";
}

.nosotrosInfo {
  margin: 4rem 4rem 4rem 6rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
}

.nosotrosInfo h2 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 55px;
  letter-spacing: 0.03rem;
  padding: 10px;
  margin: 0px;
}

.nosotrosInfo h6 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 26px;
  padding: 10px;
  margin: 0px;
}

.nosotrosInfo p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-weight: 200;
  font-size: 24px;
  line-height: 38px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.nosotrosFoto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto;
  display: block;
  margin: auto;
  margin-right: 6rem;
}

.nosotrosFoto img {
  width: 30rem;
  height: auto;
}

/* CONTACTO */
#contacto {
  color: #59CD90;
  text-decoration: overline;
}

.mainContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sectionFormulario {
  width: 40%;
  margin: 5rem 0rem 5rem 0rem;
}

.sectionFormulario div h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  margin: 20px;
}

.sectionFormulario div form ::-webkit-input-placeholder {
  color: #FFFFFF;
}

.sectionFormulario div form :-ms-input-placeholder {
  color: #FFFFFF;
}

.sectionFormulario div form ::-ms-input-placeholder {
  color: #FFFFFF;
}

.sectionFormulario div form ::placeholder {
  color: #FFFFFF;
}

.sectionFormulario div form input {
  width: 90%;
  height: 40px;
  margin: 20px;
  padding: 10px;
  background-color: #080808;
  border: solid #FFFFFF 2px;
  border-radius: 8px;
  color: #FFFFFF;
}

.sectionFormulario div form .formulario__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.sectionFormulario div form .formulario__flex input {
  width: 95%;
}

.sectionFormulario div form textarea {
  margin: 20px;
  padding: 10px;
  width: 90%;
  height: 200px;
  background-color: #080808;
  color: #FFFFFF;
  border: solid #FFFFFF 2px;
  border-radius: 8px;
}

.sectionFormulario div form .form__boton {
  margin: 18px;
  width: 45%;
  height: 50px;
  border: solid #000000 2px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #1BD743;
  color: #080808;
}

.sectionIconos {
  width: 30%;
  margin: 9rem 0rem 0rem 0rem;
}

.sectionIconos a img {
  display: block;
  margin: auto;
  width: 308px;
  height: auto;
}

.sectionIconos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 45px;
}

.sectionIconos div .icons_image1 {
  width: 52.5px;
  height: 42px;
}

.sectionIconos div .icons_image2 {
  margin-right: 5px;
  width: 46px;
  height: 32px;
}

.sectionIconos div .icons_image3 {
  margin-left: 10px;
  width: 28px;
  height: 37px;
}

.sectionIconos div .icons_image4 {
  margin-top: 21px;
  width: 17.7px;
  height: 17.7px;
}

.sectionIconos div h4 {
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
}

/* FOOTER */
.footer {
  background-color: #000000;
  height: 481px;
}

.footerGrinder {
  padding: 40px 0px 20px 0px;
  text-align: center;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 0.03rem;
  margin: 0px;
}

.footerImg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
}

.footerImg ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px 40px 40px;
  text-align: center;
}

.footerImg ul li p {
  margin: 5px;
}

.footerImg ul li img {
  padding: 5px;
  display: block;
  margin: auto;
  height: 80px;
  width: 80px;
}

.footerTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 25px;
}

.footerInfo h6 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

.footerInfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.footerInfo div img {
  width: 40px;
  height: 40px;
}

.footerInfo p {
  margin: 10px 0px 10px 3px;
  font-size: 16px;
  line-height: 20px;
}

.footerContacto h6 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.footerContacto div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.footerContacto div img {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
}

.footerContacto p {
  text-align: center;
  margin: 0px;
  padding: 15px;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03rem;
}

#imgIg {
  margin-left: 0px;
}

/* @import "tablet";
@import "mobile"; */
/* generales */
#inicio {
  background-color: #080808;
}
/*# sourceMappingURL=estilo.css.map */