/* DESKTOP */

/* INDEX */

/* HEADER */
/* navbar */
.navbar{
    background-color: $negro;
    @include ceroMP;
}
.collapse{
    height: 112px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include letraRegular;
    font-size: 20px;
    line-height: 24px;
    li{
        padding: 17px 42px 17px 42px;
        a{
            &:hover{
                color: $hover;
            }
        }
    }
}
.navbar-brand{
    @include ceroMP;
    align-items: center;
}

/* main */
.mainIndex{
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;       
    h1{
        padding: 8rem 0rem 1rem 0rem;
        margin: 0px;
        @include letraGrinder;
        font-size: 96px;
        text-align: center;
    } 
    h3{
        @include letraTexto2;
        @include centrado;
        font-size: 32px;
        text-align: center;
        line-height: 38px;
        letter-spacing: 0.1rem;
    }
    button{
        @include centrado;
        background-color: $verde;
        border-radius: 10px;
        margin-top: 6rem;
        border: none;
        padding: 8px 8px 4px 8px;
        cursor: pointer;
        img{
            width: 23px;
            height: 23px;
            margin: 6px 6px 14px 6px;
        }
        a{
            @include letraTexto2;
            font-size: 20px;
            color: $negro;
            text-decoration: none;
        }
    }
    div{
        padding: 5rem 18rem 0rem 0rem;
        div{
            padding: 5px;
            display: flex;
            justify-content: flex-end;
            img{
                width: 42px;
                height: 42px;
            }
        }
        }
}


/* NOSOTROS */
#nosotros{
    color: $hover;
    text-decoration: overline;
}
.nosotros{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "info foto";
}
.nosotrosInfo{
    margin: 4rem 4rem 4rem 6rem;
    grid-area: info;
    h3{
        @include letraGrinder;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.03rem;
        padding: 10px;
        margin: 0px;
    }
    h6{
        @include letraTexto;
        font-size: 32px;
        padding: 10px;
        margin: 0px;
    }
    p{
        @include letraTexto;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
}
.nosotrosFoto{
    grid-area: foto;
    @include centrado;
    margin-right: 6rem;
    img{
        width: 30rem;
        height: auto;
    }
}


/* FOOTER */
.footer{
    background-color: $negro;
    height: 481px;
}
.footerGrinder{
    padding: 40px 0px 20px 0px; 
    text-align: center;
    @include letraGrinder;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.03rem;
    margin: 0px;
}
.footerImg{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include ceroMP;
        @include letraRegular;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
        li{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 20px 40px 40px 40px;
            text-align: center;
            p{
                margin: 5px;
            }
            img{
                padding: 5px;
                @include centrado;
                height: 80px;
                width: 80px;
            }
        }
    }
}
.footerTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include letraRegular;
    margin-top: 25px;
}
.footerInfo{
    h6{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem; 
        @include ceroMP;
        margin-bottom: 10px;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        img{
            width: 40px;
            height: 40px;
        }
    }
    p{
        margin: 10px 0px 10px 3px;
        font-size: 16px;
        line-height: 20px;
    }

}
.footerContacto{
    h6{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
        @include ceroMP;
        margin-bottom: 10px;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        img{
            @include centrado;
            width: 32px;
            height: 32px;
        }
    }
    p{
        text-align: center;
        margin: 0px;
        padding: 15px;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
    }
}
#imgIg{
    margin-left: 0px;
}