/* DESKTOP */

/* INDEX */
/* navbar */
/* HEADER*/
.navbar{
    background-color: $color-header;
    @include ceroMP;
}
.collapse{
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include letraHeader;
    li{
        padding: 17px 42px 17px 42px;
    }
}
.navbar-brand{
    @include ceroMP;
    align-items: center;
}

/* footer */
.footer{
    background-color: $color-header;
    height: 481px;
}
.footerGrinder{
    padding: 40px 0px 20px 0px; 
    text-align: center;
    color: $blanco;
    font-family: $letra-grinder;
    font-size: 32px;
    line-height: 36,96px;
    margin: 0px;
}
.footerImg{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include ceroMP;
        @include letraHeader;
        li{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 40px;
            text-align: center;
            p{
                margin: 5px;
            }
            img{
                padding: 5px;
                @include centrado;
                height: 80px;
                width: 80px;
            }
        }
    }
}
.footerTexto{
    display: flex;
    flex-direction: column;
}