/* DESKTOP */

/* INDEX */
/* navbar */
/* HEADER*/
.navbar{
    background-color: $negro;
    @include ceroMP;
}
.collapse{
    height: 112px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include letraRegular;
    font-size: 20px;
    line-height: 24px;
    li{
        padding: 17px 42px 17px 42px;
        a{
            &:hover{
                color: $hover;
            }
        }
    }
}
.navbar-brand{
    @include ceroMP;
    align-items: center;
}

/* nosotros */
#nosotros{
    color: $hover;
}
.nosotros{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "info foto";
}
.nosotrosInfo{
    margin: 4rem 3rem 4rem 7rem;
    grid-area: info;
    h3{
        @include letraGrinder;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.03rem;
        padding: 10px;
        margin: 0px;
    }
    h6{
        @include letraTexto;
        font-size: 32px;
        padding: 10px;
        margin: 0px;
    }
    p{
        @include letraTexto;
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
}
.nosotrosFoto{
    grid-area: foto;
    @include centrado;
    img{
        width: 30rem;
        height: auto;
    }
}


/* footer */
.footer{
    background-color: $negro;
    height: 481px;
}
.footerGrinder{
    padding: 40px 0px 20px 0px; 
    text-align: center;
    @include letraGrinder;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.03rem;
    margin: 0px;
}
.footerImg{
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        @include ceroMP;
        @include letraRegular;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
        li{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 20px 40px 40px 40px;
            text-align: center;
            p{
                margin: 5px;
            }
            img{
                padding: 5px;
                @include centrado;
                height: 80px;
                width: 80px;
            }
        }
    }
}
.footerTexto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @include letraRegular;
    margin-top: 25px;
}
.footerInfo{
    h6{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem; 
        @include ceroMP;
        margin-bottom: 10px;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        img{
            width: 40px;
            height: 40px;
        }
    }
    p{
        margin: 10px 0px 10px 3px;
        font-size: 16px;
        line-height: 20px;
    }

}
.footerContacto{
    h6{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
        @include ceroMP;
        margin-bottom: 10px;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        img{
            @include centrado;
            width: 32px;
            height: 32px;
        }
    }
    p{
        text-align: center;
        margin: 0px;
        padding: 15px;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.03rem;
    }
}
#imgIg{
    margin-left: 0px;
}