/* variables */

/* colores */
$fondo: #080808;
$negro: #000000;
$blanco: #FFFFFF;
$fondo2: #E5E5E5;
$fondito: #CDCBCB;
$borde: #79747E;
$hover:#59CD90;
$verde:#2A8052;
$form: #1BD743;
$mobile: #28aa65;
$color1: #91CB3E;
$color2: #53A548;
$color3: #436436;
$color4: #60993E;



